{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./src"],
                "extensions": [".js", ".ios.js", ".android.js"],
                "alias": {
                    "_assets": "./src/assets",
                    "_components": "./src/components",
                    "_navigation": "./src/navigation",
                    "_screens": "./src/screens",
                    "_styles": "./src/styles",
                    "_utils": "./src/utils",
                    "_hooks": "./src/hooks",
                    "_types": "./types.tsx"
                }
            }
        ]
    ]
}
